<div class="container">
    <div ng-if="model.error" class="alert alert-danger" role="alert">
        {{model.error}}
    </div>
    <h1>
        Login
    </h1>
    <form name="LoginForm" novalidate>
        <input name="username"
               id="username"
               type="text"
               ng-model="username"
               class="form-control"
               required
               placeholder="username"/>
        <div ng-show="LoginForm.username.$invalid && LoginForm.$submitted">
            <span class="error">
                Please enter a username
            </span>
        </div>
        <input name="password"
               id="password"
               type="password"
               ng-model="password"
               required
               class="form-control"
               placeholder="password"/>
        <div ng-show="LoginForm.password.$invalid && LoginForm.$submitted">
            <span class="error">
                  Please enter a password
            </span>
        </div>
        <button type="submit" ng-click="model.login(username,password,LoginForm)" class="btn btn-primary btn-block">
            Login
        </button>
        <a class="btn btn-success btn-block" href="#/register">Register</a>
        <a href="/auth/facebook" class="btn btn-primary btn-block">
            <span class="fa fa-facebook-official"></span>
            Facebook
        </a>
    </form>
</div>