<div class="container">
    <div ng-if="model.error" class="alert alert-danger" role="alert">
        {{model.error}}
    </div>
    <h1>
        Register
    </h1>
    <form name="RegisterForm" novalidate>
        <input type="text"
               id="username"
               name="username"
               ng-model="username"
               class="form-control"
               required
               placeholder="username"/>
        <div ng-show="RegisterForm.username.$invalid && RegisterForm.$submitted">
            <span class="error">
                Please enter a username
            </span>
        </div>
        <input type="password"
               name="password"
               id="password"
               ng-model="password1"
               class="form-control"
               required
               placeholder="password"/>
        <div ng-show="RegisterForm.password.$invalid && RegisterForm.$submitted">
            <span class="error">
                Please enter a password
            </span>
        </div>
        <input type="password"
               name="password1"
               id="password1"
               ng-model="password2"
               class="form-control"
               required
               placeholder="verify password"/>
        <div ng-if="model.passwordError">
            <span class="error">
                {{model.passwordError}}
            </span>
        </div>

        <button type="submit"
                ng-click="model.register(username,password1,password2,RegisterForm)"
                class="btn btn-primary btn-block">Register
        </button>
        <a class="btn btn-danger btn-block" href="#/login">Cancel</a>
    </form>
</div>
