input.form-control{
    margin-bottom: 5px;
}

body{
    padding-top: 65px;
}

div.col-xs-3{
    float:left;
}

p.navbar-text.pull-right{
    margin-right: 20px;
}

p.navbar-text.pull-left{
    margin-left: 10px;
}

li.borderless {
    border-top: 0 none;
    border-bottom: 0 none;
    border-right: 0 none;
    border-left: 0 none;
}