<div ng-switch="model.widget.type">
    <div ng-switch-when="HEADING">
        <ng-include src="'views/widget/widget-edit/widget-heading.view.client.html'"></ng-include>
    </div>
    <div ng-switch-when="IMAGE">
        <ng-include src="'views/widget/widget-edit/widget-image.view.client.html'"></ng-include>
    </div>
    <div ng-switch-when="YOUTUBE" class="youtube-widget">
        <ng-include src="'views/widget/widget-edit/widget-youtube.view.client.html'"></ng-include>
    </div>
    <div ng-switch-default>
        <div class="container">
            <div class="alert alert-danger" role="alert">
                Unable to edit the selected widget
            </div>
        </div>
    </div>
</div>