<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <p class="navbar-text pull-left">
                <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget" class="navbar-link">
                    <span class="glyphicon glyphicon-menu-left">
                    </span>
                </a>
            </p>
            <a class="navbar-brand" href="">
                Widget Edit
            </a>
            <p class="navbar-text pull-right">
                <a ng-click="model.updateWidget(model.widget)" class="navbar-link">
                    <span class="glyphicon glyphicon-ok">
                    </span>
                </a>
            </p>
        </div>
    </div>
</nav>
<div class="container">
    <div ng-if="model.error" class="alert alert-danger" role="alert">
        {{model.error}}
    </div>
    <form>
        <div class="form-group">
            <label for="widget-name">Name</label>
            <input type="text"
                   class="form-control"
                   id="widget-name"
                   placeholder="Video Name"
                   value="">
        </div>
        <div class="form-group">
            <label for="widget-text">Text</label>
            <input type="text"
                   class="form-control"
                   id="widget-text"
                   placeholder="Video Text"
                   value="">
        </div>
        <div class="form-group">
            <label for="widget-url">URL</label>
            <input type="text"
                   ng-model="model.widget.url"
                   class="form-control"
                   id="widget-url"
                   placeholder="Video URL"
                   value="https://youtu.be/F5vqupbtEGE">
        </div>
        <div class="form-group">
            <label for="widget-width">Width</label>
            <input type="text"
                   ng-model="model.widget.width"
                   class="form-control"
                   id="widget-width"
                   placeholder="Video Width"
                   value="">
        </div>
        <a class="btn btn-danger btn-block"
           ng-click="model.deleteWidget()">
            Delete
        </a>
    </form>
</div>
<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container">
        <div class="row navbar-text">
            <div class="col-xs-3 text-center">
            </div>
            <div class="col-xs-3 text-center">
            </div>
            <div class="col-xs-3 text-center">
            </div>
            <div class="col-xs-3 text-center">
                <a href="#/user/{{model.userId}}l">
                    <span class="glyphicon glyphicon-user"></span>
                </a>
            </div>
        </div>
    </div>
</nav>