<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <p class="navbar-text pull-left">
                <a href="#/user/{{model.userId}}/website" class="navbar-link">
                    <span class="glyphicon glyphicon-menu-left">
                    </span>
                </a>
            </p>
            <a class="navbar-brand" href="">
                Edit Website
            </a>
            <p class="navbar-text pull-right">
                <a ng-click="model.updateWebsite(model.website)" class="navbar-link">
                    <span class="glyphicon glyphicon-ok">
                    </span>
                </a>
            </p>
        </div>
    </div>
</nav>
<div class="container">
    <div ng-if="model.error" class="alert alert-danger" role="alert">
        {{model.error}}
    </div>
    <form>
        <div class="form-group">
            <label for="websiteName">Website Name</label>
            <input type="text"
                   ng-model="model.website.name"
                   class="form-control"
                   id="websiteName"
                   placeholder="SiteFly">
        </div>
        <div class="form-group">
            <label for="websiteDescription">Website Description</label>
                <textarea class="form-control"
                          placeholder="Create a free website in seconds using your Facebook business page."
                          id="websiteDescription"
                          rows="5"></textarea>
        </div>

        <a class="btn btn-danger btn-block"
           ng-click="model.deleteWebsite()">
            Delete
        </a>
    </form>
</div>
<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container">
        <div class="row navbar-text">
            <div class="col-xs-3 text-center">
                <span class="glyphicon glyphicon-share-alt"></span>
            </div>
            <div class="col-xs-3 text-center">
            </div>
            <div class="col-xs-3 text-center">
            </div>
            <div class="col-xs-3 text-center">
                <a href=#/user/{{model.userId}}">
                    <span class="glyphicon glyphicon-user"></span>
                </a>
            </div>
        </div>
    </div>
</nav>
